<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=0.5,minimum-scale=1.0,user-scalable=0" />
    <meta name="format-detection" content="telephone=no, email=no" />
    <title>结果</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
    <div style="display: none">
        <div id='zeroCount'>89</div>
        <div id='oneToTen'>37</div>
        <div id='elToTwo'></div>
        <div id='beyondTwo'></div>
    </div>
    <div class="container">
        <h2>简书程序员专题热门文章900篇代码块统计</h2>
        <div id="chart" class="chart"></div>
        <table>
            <thead><!--table head-->
                <tr>
                    <th>文章名</th>
                    <th>代码块数量</th>
                </tr>
            </thead>
            <tbody>
                
                    <tr>
                        <td>可以免费自学编程的12个网站</td>
                        <td>0</td>
                    </tr>
                
                    <tr>
                        <td>【干货】让你薪资翻10倍的网站  大学生与职场人请收藏 </td>
                        <td>0</td>
                    </tr>
                
                    <tr>
                        <td>知道这20个正则表达式，能让你少写1,000行代码</td>
                        <td>22</td>
                    </tr>
                
                    <tr>
                        <td>我是如何自学Android，资料分享（2015 版）</td>
                        <td>6</td>
                    </tr>
                
                    <tr>
                        <td>面试你之前，我希望在简历上看到这些！</td>
                        <td>0</td>
                    </tr>
                
                    <tr>
                        <td>高效的一天可以这样过</td>
                        <td>0</td>
                    </tr>
                
                    <tr>
                        <td>最经典的PS入门笔记，来自李涛老师的高手之路</td>
                        <td>0</td>
                    </tr>
                
                    <tr>
                        <td>编程的智慧</td>
                        <td>189</td>
                    </tr>
                
                    <tr>
                        <td>真正的Excel，其实你只用过1%</td>
                        <td>0</td>
                    </tr>
                
                    <tr>
                        <td>玩儿成PS高手你靠勤奋？还得学会“懒”啊！</td>
                        <td>0</td>
                    </tr>
                
                    <tr>
                        <td>Markdown——入门指南</td>
                        <td>18</td>
                    </tr>
                
                    <tr>
                        <td>不会装系统？有这篇就够了！</td>
                        <td>32</td>
                    </tr>
                
                    <tr>
                        <td>1小时掌握20%的Excel核心技巧，轻松应对80%的工作需求</td>
                        <td>0</td>
                    </tr>
                
                    <tr>
                        <td>Android开发人员不得不收集的代码(持续更新中)</td>
                        <td>40</td>
                    </tr>
                
                    <tr>
                        <td>师兄，你都是去哪里找招聘信息啊？</td>
                        <td>0</td>
                    </tr>
                
                    <tr>
                        <td>Sketch完全自学资源合集（9.24更新版）</td>
                        <td>0</td>
                    </tr>
                
                    <tr>
                        <td>自学设计，你真的入门了吗？</td>
                        <td>0</td>
                    </tr>
                
                    <tr>
                        <td>你不一定知道但一定用得到的Windows使用技巧</td>
                        <td>12</td>
                    </tr>
                
                    <tr>
                        <td>让 BAT 的 Offer 不再难拿</td>
                        <td>55</td>
                    </tr>
                
                    <tr>
                        <td>献给大学生，未来程序猿的前端学习网站</td>
                        <td>0</td>
                    </tr>
                
                    <tr>
                        <td>PS抠图竟多达十种常用方法，最后一个万能了</td>
                        <td>0</td>
                    </tr>
                
                    <tr>
                        <td>Mac上有哪些冷门但却逆天的软件？</td>
                        <td>0</td>
                    </tr>
                
                    <tr>
                        <td>MOOC：斜杠青年的路上不可错过的7大学习平台</td>
                        <td>0</td>
                    </tr>
                
                    <tr>
                        <td>一名全栈设计师的Mac工具箱（设计,开发,效率）</td>
                        <td>0</td>
                    </tr>
                
                    <tr>
                        <td>推荐一些非常有用的学习网站</td>
                        <td>0</td>
                    </tr>
                
                    <tr>
                        <td>5分钟 搭建免费个人博客</td>
                        <td>19</td>
                    </tr>
                
                    <tr>
                        <td>关于iOS多线程，你看我就够了</td>
                        <td>138</td>
                    </tr>
                
                    <tr>
                        <td>iOS开发完全自学资源集合</td>
                        <td>0</td>
                    </tr>
                
                    <tr>
                        <td>［译］我并不聪明，我只是坐在那儿的时间比你长（I&#39;m not smart, I just sat there for longer than you）</td>
                        <td>0</td>
                    </tr>
                
                    <tr>
                        <td>我的学习、归纳方法（以学习 Maven 为例）</td>
                        <td>33</td>
                    </tr>
                
                    <tr>
                        <td>我的 Android 开发实战经验总结</td>
                        <td>3</td>
                    </tr>
                
                    <tr>
                        <td>前端工程师必备实用网站</td>
                        <td>0</td>
                    </tr>
                
                    <tr>
                        <td>前端小白到大神，不可不收藏的网站合集</td>
                        <td>0</td>
                    </tr>
                
                    <tr>
                        <td>各种排序算法总结</td>
                        <td>10</td>
                    </tr>
                
                    <tr>
                        <td>PS小白进阶必知七大网站，素材灵感从此不求人</td>
                        <td>0</td>
                    </tr>
                
                    <tr>
                        <td>嫁给程序员是一种怎样的体验</td>
                        <td>0</td>
                    </tr>
                
                    <tr>
                        <td>读大学的你，还在迷茫吗？快看看这些视频学习网站</td>
                        <td>0</td>
                    </tr>
                
                    <tr>
                        <td>GitHub 上排名前 100 的 Objective-C 项目简介</td>
                        <td>1</td>
                    </tr>
                
                    <tr>
                        <td>iOS,面试必看，最全梳理</td>
                        <td>168</td>
                    </tr>
                
                    <tr>
                        <td>一个优秀的Android应用从建项目开始</td>
                        <td>20</td>
                    </tr>
                
                    <tr>
                        <td>自学编程之前，你需要知道这些</td>
                        <td>0</td>
                    </tr>
                
                    <tr>
                        <td>[干货]如何在一天之内搭建以你自己名字为域名且具备cool属性的个人博客</td>
                        <td>62</td>
                    </tr>
                
                    <tr>
                        <td>猎头教你，牵着面试官的鼻子走</td>
                        <td>0</td>
                    </tr>
                
                    <tr>
                        <td>OC最实用的runtime总结，面试、工作你看我就足够了！</td>
                        <td>39</td>
                    </tr>
                
                    <tr>
                        <td>我是如何自学Android，资料分享</td>
                        <td>10</td>
                    </tr>
                
                    <tr>
                        <td>推荐！设计师与程序员不能错过的 10 个酷站</td>
                        <td>0</td>
                    </tr>
                
                    <tr>
                        <td>一步一步实现iOS微信自动抢红包(非越狱)</td>
                        <td>14</td>
                    </tr>
                
                    <tr>
                        <td>技术类博客网站推荐</td>
                        <td>22</td>
                    </tr>
                
                    <tr>
                        <td>30分钟精通思维导图</td>
                        <td>0</td>
                    </tr>
                
                    <tr>
                        <td>兼容iOS 10 资料整理笔记</td>
                        <td>66</td>
                    </tr>
                
                    <tr>
                        <td>iOS中集成ijkplayer视频直播框架</td>
                        <td>25</td>
                    </tr>
                
                    <tr>
                        <td>给年轻程序员们的10点启示</td>
                        <td>0</td>
                    </tr>
                
                    <tr>
                        <td>一篇文章读懂微信小程序(应用号)是什么？</td>
                        <td>0</td>
                    </tr>
                
                    <tr>
                        <td>iOS 学习资料整理</td>
                        <td>4</td>
                    </tr>
                
                    <tr>
                        <td>2017 年你应该学习的编程语言、框架和工具</td>
                        <td>3</td>
                    </tr>
                
                    <tr>
                        <td>做一款仿映客的直播App？看我就够了</td>
                        <td>4</td>
                    </tr>
                
                    <tr>
                        <td>从零开始开发一款Android App</td>
                        <td>0</td>
                    </tr>
                
                    <tr>
                        <td>PS唯快不破，最全最实用快捷键图文秘籍</td>
                        <td>0</td>
                    </tr>
                
                    <tr>
                        <td>Github上的iOS App源码 (中文)</td>
                        <td>0</td>
                    </tr>
                
                    <tr>
                        <td>(干货）Linux学习资源推荐</td>
                        <td>0</td>
                    </tr>
                
                    <tr>
                        <td>【如何快速的开发一个完整的iOS直播app】(原理篇)</td>
                        <td>118</td>
                    </tr>
                
                    <tr>
                        <td>一个上架了的React Native项目实战总结</td>
                        <td>0</td>
                    </tr>
                
                    <tr>
                        <td>怎样成为技术达人</td>
                        <td>0</td>
                    </tr>
                
                    <tr>
                        <td>怎样成为技术达人</td>
                        <td>0</td>
                    </tr>
                
                    <tr>
                        <td>微信,QQ这类IM app怎么做——谈谈Websocket</td>
                        <td>7</td>
                    </tr>
                
                    <tr>
                        <td>学会智能对象，你做的特效字体瞬间秒杀PS大神</td>
                        <td>0</td>
                    </tr>
                
                    <tr>
                        <td>玩PS,懒人进阶必会的20招高效冷门技巧</td>
                        <td>0</td>
                    </tr>
                
                    <tr>
                        <td>【iOS秘籍】-下载历史版本App超详细教程</td>
                        <td>8</td>
                    </tr>
                
                    <tr>
                        <td>JAVA程序员一定知道的优秀第三方库（2016版）</td>
                        <td>24</td>
                    </tr>
                
                    <tr>
                        <td>为什么整个互联网行业都缺前端工程师？</td>
                        <td>0</td>
                    </tr>
                
                    <tr>
                        <td>程序员专题征图活动|程序员在简书</td>
                        <td>0</td>
                    </tr>
                
                    <tr>
                        <td>如何自学Android编程</td>
                        <td>0</td>
                    </tr>
                
                    <tr>
                        <td>C语言从零开始（一）</td>
                        <td>1</td>
                    </tr>
                
                    <tr>
                        <td>每个人都该学git，最新GitHub与Git指令快速上手</td>
                        <td>32</td>
                    </tr>
                
                    <tr>
                        <td>用产品思维写好你的简历</td>
                        <td>24</td>
                    </tr>
                
                    <tr>
                        <td>程序员这样优化简历，一投制胜</td>
                        <td>0</td>
                    </tr>
                
                    <tr>
                        <td>iOS Swift 资料大全</td>
                        <td>0</td>
                    </tr>
                
                    <tr>
                        <td>iOS 关于navigationBar的一些：毛玻璃、透明、动态缩放、动态隐藏</td>
                        <td>47</td>
                    </tr>
                
                    <tr>
                        <td>Github 上有意思的项目推荐</td>
                        <td>0</td>
                    </tr>
                
                    <tr>
                        <td>Android最全开发资源</td>
                        <td>0</td>
                    </tr>
                
                    <tr>
                        <td>【html、css、jq】制作一个简洁的音乐播放器</td>
                        <td>6</td>
                    </tr>
                
                    <tr>
                        <td>Android网络请求心路历程</td>
                        <td>26</td>
                    </tr>
                
                    <tr>
                        <td>先定一个小目标，比如写一个QQ</td>
                        <td>48</td>
                    </tr>
                
                    <tr>
                        <td>魔都，3年，程序员到CTO</td>
                        <td>0</td>
                    </tr>
                
                    <tr>
                        <td>PS拯救手癌党三分钟学会手绘插画风</td>
                        <td>0</td>
                    </tr>
                
                    <tr>
                        <td>排序算法总结</td>
                        <td>15</td>
                    </tr>
                
                    <tr>
                        <td>使用 Sublime + PlantUML 高效地画图</td>
                        <td>29</td>
                    </tr>
                
                    <tr>
                        <td>认识Markdown——网络写手的创作神器</td>
                        <td>63</td>
                    </tr>
                
                    <tr>
                        <td>Python 零基础入门资料整理（更新版）</td>
                        <td>0</td>
                    </tr>
                
                    <tr>
                        <td>1024程序员节，向改变世界的程序员致敬</td>
                        <td>0</td>
                    </tr>
                
                    <tr>
                        <td> 程序员提高效率的必备工具</td>
                        <td>0</td>
                    </tr>
                
                    <tr>
                        <td>我是如何在两天内做一个网站的</td>
                        <td>26</td>
                    </tr>
                
                    <tr>
                        <td>Android主题换肤 无缝切换</td>
                        <td>1</td>
                    </tr>
                
                    <tr>
                        <td>Android MVP 详解（上）</td>
                        <td>0</td>
                    </tr>
                
                    <tr>
                        <td>iOS开发经验总结</td>
                        <td>52</td>
                    </tr>
                
                    <tr>
                        <td>编译|精选10个可以视频学习【程序设计基础】的网站</td>
                        <td>0</td>
                    </tr>
                
                    <tr>
                        <td>原来那些刷屏的尔康、小S截屏gif表情包竟是这么做的</td>
                        <td>0</td>
                    </tr>
                
                    <tr>
                        <td>[干货]如何阅读Android系统源码－收藏必备</td>
                        <td>19</td>
                    </tr>
                
                    <tr>
                        <td>移动开发必读书单</td>
                        <td>0</td>
                    </tr>
                
                    <tr>
                        <td>三种方法教你做下雨特效，第三种竟然是动态下雨还最简单</td>
                        <td>0</td>
                    </tr>
                
                    <tr>
                        <td>教师节：手把手教你一天内做出高逼格的APP送老师</td>
                        <td>0</td>
                    </tr>
                
                    <tr>
                        <td>Context都没弄明白，还怎么做Android开发？</td>
                        <td>8</td>
                    </tr>
                
                    <tr>
                        <td>编程的宗派</td>
                        <td>50</td>
                    </tr>
                
                    <tr>
                        <td>你应该知道的HTTP基础知识</td>
                        <td>33</td>
                    </tr>
                
                    <tr>
                        <td>【特别策划】简书 X CODING：程序猿给自己的三行情书</td>
                        <td>2</td>
                    </tr>
                
                    <tr>
                        <td>一步一步教你 https 抓包</td>
                        <td>16</td>
                    </tr>
                
                    <tr>
                        <td>iOS 中 常用的第三方库</td>
                        <td>0</td>
                    </tr>
                
                    <tr>
                        <td>iOS app旧貌换新颜(一)—Launch Page让Logo&quot;飞&quot;出屏幕</td>
                        <td>4</td>
                    </tr>
                
                    <tr>
                        <td>iOS MVVM+RAC 从框架到实战</td>
                        <td>10</td>
                    </tr>
                
                    <tr>
                        <td>iOS应用支持IPV6，就那点事儿</td>
                        <td>9</td>
                    </tr>
                
                    <tr>
                        <td>IP、子网掩码、缺省网关/默认网关、DNS、服务器、端口的总结</td>
                        <td>0</td>
                    </tr>
                
                    <tr>
                        <td>如何让自己的微信公众号变成智能机器人</td>
                        <td>0</td>
                    </tr>
                
                    <tr>
                        <td>Android7.0适配教程，心得</td>
                        <td>30</td>
                    </tr>
                
                    <tr>
                        <td>[干货]如何在一天之内完成一款具备cool属性的Android产品&lt;简诗&gt;</td>
                        <td>78</td>
                    </tr>
                
                    <tr>
                        <td>2016年3月iOS面试总结</td>
                        <td>3</td>
                    </tr>
                
                    <tr>
                        <td>一遍记住Java常用的八种排序算法与代码实现</td>
                        <td>8</td>
                    </tr>
                
                    <tr>
                        <td>10分钟搞定支付宝和微信支付  的  各种填坑</td>
                        <td>10</td>
                    </tr>
                
                    <tr>
                        <td>一起来说 Vim 语</td>
                        <td>19</td>
                    </tr>
                
                    <tr>
                        <td>iOS 开发中你是否遇到这些经验问题(一)</td>
                        <td>84</td>
                    </tr>
                
                    <tr>
                        <td>最全前端资源汇集</td>
                        <td>3</td>
                    </tr>
                
                    <tr>
                        <td>我是如何自学IOS的（IOS自学资料推荐）</td>
                        <td>0</td>
                    </tr>
                
                    <tr>
                        <td>十年工龄的程序员为你揭示最危害程序员职业生涯的三大观念</td>
                        <td>0</td>
                    </tr>
                
                    <tr>
                        <td>iOS 性能调优,成为一名合格iOS程序员必须掌握的技能</td>
                        <td>15</td>
                    </tr>
                
                    <tr>
                        <td>我的编程之路</td>
                        <td>0</td>
                    </tr>
                
                    <tr>
                        <td>不让苹果开发者账号折磨我</td>
                        <td>0</td>
                    </tr>
                
                    <tr>
                        <td>如何成为一名优秀的全栈工程师</td>
                        <td>0</td>
                    </tr>
                
                    <tr>
                        <td>如何做好短期内的强化学习?</td>
                        <td>0</td>
                    </tr>
                
                    <tr>
                        <td>手把手教你制作好玩的动态文字云</td>
                        <td>0</td>
                    </tr>
                
                    <tr>
                        <td>21天C语言代码训练营（第一天）</td>
                        <td>7</td>
                    </tr>
                
                    <tr>
                        <td>Android开发经验谈-很少有人会告诉你的Android开发基本常识</td>
                        <td>4</td>
                    </tr>
                
                    <tr>
                        <td>如何在 VPS 上搭建 VPN 来翻墙</td>
                        <td>59</td>
                    </tr>
                
                    <tr>
                        <td>写给立志做码农的大学生</td>
                        <td>0</td>
                    </tr>
                
                    <tr>
                        <td>程序员进阶宝典</td>
                        <td>0</td>
                    </tr>
                
                    <tr>
                        <td>可能是讲解Android事件分发最好的文章</td>
                        <td>0</td>
                    </tr>
                
                    <tr>
                        <td> 只装了这六款软件，工作就高效到有时间逛某宝刷某圈</td>
                        <td>0</td>
                    </tr>
                
                    <tr>
                        <td>Fragment全解析系列（一）：那些年踩过的坑</td>
                        <td>72</td>
                    </tr>
                
                    <tr>
                        <td>35岁程序员的独家面试经历</td>
                        <td>0</td>
                    </tr>
                
                    <tr>
                        <td>iOS高仿下厨房（Objective-C） </td>
                        <td>124</td>
                    </tr>
                
                    <tr>
                        <td>【设计谈】字体与排版</td>
                        <td>0</td>
                    </tr>
                
                    <tr>
                        <td>放肆的使用UIBezierPath和CAShapeLayer画各种图形</td>
                        <td>28</td>
                    </tr>
                
                    <tr>
                        <td>这样读源码，不牛X也难</td>
                        <td>0</td>
                    </tr>
                
                    <tr>
                        <td>计算机网络基础知识大总汇</td>
                        <td>0</td>
                    </tr>
                
                    <tr>
                        <td>iOS工程师Mac上的必备软件</td>
                        <td>0</td>
                    </tr>
                
                    <tr>
                        <td>HTML 入门笔记 － 初识HTML</td>
                        <td>152</td>
                    </tr>
                
                    <tr>
                        <td>十五分钟让你了解Python套路</td>
                        <td>12</td>
                    </tr>
                
                    <tr>
                        <td>优秀的计算机编程类博客 和 文章</td>
                        <td>0</td>
                    </tr>
                
                    <tr>
                        <td>如何提升你的能力？给年轻程序员的几条建议</td>
                        <td>3</td>
                    </tr>
                
                    <tr>
                        <td>10个值得前端收藏的CSS3动效库（工具）</td>
                        <td>2</td>
                    </tr>
                
                    <tr>
                        <td>WWDC2016 Session笔记 - iOS 10  UICollectionView新特性</td>
                        <td>9</td>
                    </tr>
                
                    <tr>
                        <td>如何系统地学习计算机理论知识（一）</td>
                        <td>0</td>
                    </tr>
                
                    <tr>
                        <td>【译】让人脑洞大开的五个科技公司面试题</td>
                        <td>0</td>
                    </tr>
                
                    <tr>
                        <td>月薪3万的程序员都避开了哪些坑</td>
                        <td>0</td>
                    </tr>
                
                    <tr>
                        <td>十大程序员开发用到的基本算法</td>
                        <td>0</td>
                    </tr>
                
                    <tr>
                        <td>Github 365天: 给你一年的时间，你会怎样去提高你的水平</td>
                        <td>0</td>
                    </tr>
                
                    <tr>
                        <td>十大程序员开发用到的基本算法</td>
                        <td>0</td>
                    </tr>
                
                    <tr>
                        <td>Windows10+Ubuntu双系统安装[多图]</td>
                        <td>16</td>
                    </tr>
                
                    <tr>
                        <td>程序员在简书|Android程序媛的日常</td>
                        <td>0</td>
                    </tr>
                
                    <tr>
                        <td>每个程序员都应该了解的一件事</td>
                        <td>0</td>
                    </tr>
                
                    <tr>
                        <td>iOS，一行代码进行RSA、DES 、AES加密、解密及MD5加密</td>
                        <td>8</td>
                    </tr>
                
                    <tr>
                        <td>我的 Github 个人博客是怎样炼成的</td>
                        <td>41</td>
                    </tr>
                
                    <tr>
                        <td>成为一名自由程序员</td>
                        <td>0</td>
                    </tr>
                
                    <tr>
                        <td>用心整理的Mac上好用好玩的软件们，持续更新中</td>
                        <td>7</td>
                    </tr>
                
                    <tr>
                        <td>使用WKWebView替换UIWebView</td>
                        <td>54</td>
                    </tr>
                
                    <tr>
                        <td>👀这个demo真的可以学到很多东西</td>
                        <td>5</td>
                    </tr>
                
                    <tr>
                        <td>关于 Android 进程保活，你所需要知道的一切</td>
                        <td>4</td>
                    </tr>
                
                    <tr>
                        <td>如果要学一门计算机语言，就学这个吧</td>
                        <td>0</td>
                    </tr>
                
                    <tr>
                        <td>学习前端我推荐这5本书</td>
                        <td>10</td>
                    </tr>
                
                    <tr>
                        <td>让Git不再难学</td>
                        <td>161</td>
                    </tr>
                
                    <tr>
                        <td>iOS 高效添加圆角效果实战讲解</td>
                        <td>45</td>
                    </tr>
                
                    <tr>
                        <td>iOS开发的一些奇巧淫技</td>
                        <td>7</td>
                    </tr>
                
                    <tr>
                        <td>实时显示iOS编写UI代码效果</td>
                        <td>94</td>
                    </tr>
                
                    <tr>
                        <td>教你步步为营掌握自定义View</td>
                        <td>12</td>
                    </tr>
                
                    <tr>
                        <td>全面理解HTTP</td>
                        <td>6</td>
                    </tr>
                
                    <tr>
                        <td>Android项目从零到上线的全过程</td>
                        <td>1</td>
                    </tr>
                
                    <tr>
                        <td>手把手教你利用Jenkins持续集成iOS项目</td>
                        <td>12</td>
                    </tr>
                
                    <tr>
                        <td>Xcode7中你一定要知道的炸裂调试神技</td>
                        <td>0</td>
                    </tr>
                
                    <tr>
                        <td>(iOS)希望这本《iOS自定义控件剖析》书籍能够让学习中的你有所收获</td>
                        <td>20</td>
                    </tr>
                
                    <tr>
                        <td>黑客未入门：如何通过QQ号获取绑定的手机号</td>
                        <td>1</td>
                    </tr>
                
                    <tr>
                        <td>Atom：优雅迷人的编辑神器</td>
                        <td>7</td>
                    </tr>
                
                    <tr>
                        <td>让你的app提升一个档次－Android酷炫自定义控件</td>
                        <td>0</td>
                    </tr>
                
            </tbody>
        </table>
    </div>
    <script type="text/javascript" src="js/echarts.common.min.js"></script>
    <script type="text/javascript" src="js/script.js"></script>
</body>
</html>